# Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
itsdangerous
email-validator

# Database
sqlalchemy
alembic
psycopg2-binary
redis
GeoAlchemy2

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Supabase
supabase

# OCR & Data Processing
git+https://github.com/datalab-to/surya.git#egg=surya-ocr
torch==2.7.1
torchvision==0.22.1
timm
transformers
pypdf
pandas
pdf2image
pdfplumber
pytesseract
spacy
python-magic

# Background Tasks
celery
flower

# Dev tools
black
isort
mypy
flake8

# Testing
pytest
pytest-cov
pytest-asyncio
pytest-mock
storage3-py
